<div class="card mb-3" id="comment_<%= @comment.id %>_form">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Edit Comment</h6>
    <%= render 'edit_form', post: @post, comment: @comment %>
  </div>
</div>